.gradle
.settings
bin
build
.cache-main
.cache-tests
.classpath
.project
*.orig
*.rej
.metadata
node_modules
target
*.diff
credentials.properties
**/Scratch*.scala
.tmpBin
**/jars/*
**/.metals/*
.bloop/*
jars/*

*.audit
**/*.audit

**/ScorecardOutput.xlsx

*.log
**/*.log

.idea/
**/out/*
*.iml
metastore_db/
.vscode/

**/results.log

**/.ipynb_checkpoints/*